/* BODY */

body {
    font-size: var(--heading-base);
    line-height: var(--line-height);
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--primary-base);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ANCLAS */

a {
    color: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    display: block;
}

/* IMAGE */

img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* SVG */

svg {
    margin: 0;
    padding: 0;
    line-height: 0;
}

/* ADDRESS */

address {
    font-style: normal;
}

/* TEXTAREA */
